<div class="cursor-pointer grid grid-cols-1 lg:grid-cols-3 gap-3">
  <div (click)="toggleModalCreateBoard()"  class="card shadow-lg bg-white hover:bg-gray-200">
    <div class="card-body">
      <b class="text-gray-600">
        <fa-icon [icon]="faPlus"></fa-icon>
        Create new board</b>
    </div>
  </div>



  @defer (when !isLoading) {
    @for (board of boards; track $index) {
      <div routerLink="/boards/{{ board['id'] }}" (contextmenu)="onRightClick(board['id'], $event)"
           class="card shadow-lg bg-blue-400 hover:bg-blue-500 cursor-pointer"
      >
        <div class="card-body">
          <div class="flex justify-between">
            <b class="text-white">{{ board['name'] }}</b>

          </div>
        </div>
      </div>
    }
  } @placeholder {
    <div class="skeleton h-23 w-full shadow-xl"></div>
  }

</div>

@if (showModalCreateBoard) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-5 rounded-lg shadow-lg w-full sm:w-3/4 md:1/2 lg:w-1/3 max-w-lg">
      <h2 class="text-xl font-semibold mb-4">Add Your Board</h2>
      <form [formGroup]="formGroupCreateBoard">
        <app-input [customErrorMessages]="errorMessages" label="Board Name" type="text" inputId="name"
                   formControlName="name"></app-input>

      </form>
      <div class="flex justify-end">
        <button (click)="onCancel()" class="bg-gray-500 text-white px-3 py-2 rounded mr-2">Cancel</button>
        <button (click)="onSubmit()" [disabled]="formGroupCreateBoard.invalid || isLoadingCreateBoard" class="bg-blue-500 text-white px-3 py-2 rounded">
          Create
          @if(isLoadingCreateBoard){
            <fa-icon [icon]="faSpinner" class="fa-spin"></fa-icon>
          }
        </button>
      </div>
    </div>
  </div>

}
