<form [formGroup]="formGroup" class="mt-5 mx-auto">
  <app-input [customErrorMessages]="errorMessages" label="Name" type="text" inputId="name"
             formControlName="name"></app-input>
  <app-input [customErrorMessages]="errorMessages" label="Email" type="email" inputId="email"
             formControlName="email"></app-input>
  <app-input [customErrorMessages]="errorMessages" label="Password" type="password" inputId="password"
             formControlName="password"></app-input>
  <button
    (click)="onSubmit()"
    type="submit"
    class="btn btn-sm btn-primary">
    {{ method == 'create' ? 'Submit' : 'Update' }}
  </button>
  <a routerLink="/user-list"
  class="btn btn-secondary btn-sm">
    Back
  </a>

</form>
